@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 300 900;
    font-display: swap;
    src: url("../fonts/inter/Inter-VariableFont_slnt,wght.woff2") format("woff2");
}

:root {
    --aiddata-font-family: "Inter";
}

html,
body,
button,
input,
optgroup,
select,
textarea,
label,
legend,
table,
th,
td,
p,
a,
li,
dt,
dd,
span,
div,
h1,
h2,
h3,
h4,
h5,
h6,
small,
strong,
em,
blockquote,
figcaption,
caption {
    font-family: var(--aiddata-font-family) !important;
}